h1 {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    margin-top: 20px;
  }

#listContainer {
    margin: 20px;
}

body {
    background-color: #f0f0f0;
    padding: 20px;
    margin: 0;
}

.box {
    background-color: red;
    width: 20px;
    height: 20px;
    margin-right: 10px; 
}

#box1 {
    background-color: red;
}

#box2 {
    background-color: green;
}

.entry {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
  }

.task {
    margin: 0;
}

p {
    font-family: 'Inter', sans-serif;
}